<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <!-- <div class="w-72 h-96 bg-zinc-100"></div>   w-72 h-96=== is defualt-->
  <div class="w-[27vw] bg-white px-20 py-10 rounded-[30px]">
    <h1
      class="text-3xl text-center font-semibold text-zinc-700 tracking-tighter capitalize leading-none"
    >
      Create New Account
    </h1>
    <form action="/register" method="post">
      <input
        class="block w-full px-3 py-2 mt-2 border-2 rounded-md"
        type="text"
        name="username"
        id=""
        placeholder="username"
      />
      <input
        class="block w-full px-3 py-2 mt-2 border-2 rounded-md"
        type="text"
        name="fullname"
        id=""
        placeholder="full name"
      />
      <input
        class="block w-full px-3 py-2 mt-2 border-2 rounded-md"
        type="email"
        name="email"
        id=""
        placeholder="email"
      />
      <input
        class="block w-full px-3 py-2 mt-2 border-2 rounded-md"
        type="number"
        name="number"
        id=""
        placeholder="contact"
      />
      <input
        class="block w-full px-3 py-2 mt-2 border-2 rounded-md"
        type="password"
        name="password"
        id=""
        placeholder="password"
      />

      <input
        class="border-2 rounded-full block w-full px-3 py-2 mt-5 bg-red-600 text-white rounded-full"
        type="submit"
        value="Create New Account"
      />
      <p
        class="text-xs font-semibold text-zinc-700 mt-10 w-3/4 mx-auto text-center"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
        temporibus libero non soluta magni veritatis.
      </p>
    </form>
    <a
      class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full"
      href="/"
      >Login Existing Account</a
    >
  </div>
  <!-- h-[72] = in bracket we can take any value as we want -->
</div>
<% include ./partials/footer.ejs %>
